body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

code {
  font-family: "Inter", sans-serif;
}
.list-group-item {
  border: 1px solid #ced4da;
  border-radius: 10px;
}

.list-group-item:hover {
  border-color: #007bff;
}

.list-group-item:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
